.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--dept-primary-white);
  font: var(--dept-font-display);
  font-size: var(--dept-font-size-h1);
  font-weight: var(--dept-font-weight-heavy);
  line-height: var(--dept-line-height-tight);
  letter-spacing: -0.03em;
  z-index: 2;
  position: relative;
}

.hero picture {
  position: absolute;
  z-index: 1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero picture:after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  z-index: 1;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 80px 32px;
    min-height: 500px;
  }

  .hero h1 {
    font-size: var(--dept-font-size-h1);
  }
}